mmcv-full==1.4.0
mmdet==2.14.0
-e git+https://github.com/open-mmlab/mmdetection3d.git@f1107977dfd26155fc1f83779ee6535d2468f449#egg=mmdet3d
mmengine==0.7.4
mmsegmentation==0.14.1
model-index==0.1.11
motmetrics==1.1.3
multidict==6.0.4
numba==0.48.0
numpy
nuscenes-devkit==1.1.10
open3d
opencv-python
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.0.24
ordered-set==4.1.0
oss2==2.17.0
overrides==7.3.1
scipy==1.9.1
seaborn==0.13.2
Send2Trash==1.8.2
Shapely==1.8.5
six==1.16.0
google-cloud-bigquery
motmetrics==1.1.3
einops==0.4.1
casadi==3.5.5
pytorch-lightning==1.2.5
